body {
    background-image: url("Contact.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  form {
    max-width: 600px;
  margin: 100px auto 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  
.title {
    font-size: 48px;
    background: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}